/* align header center/bold */
h1 {
	text-align: center;
	font-weight: bold;
}

/* bold letters for label */
label {
	font-weight: bold;
}

/* card/5day forecast spacing */
.card {
	margin: 5px;
}

/* for search history button spacing */
.domSearchHistory {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* icon size  */
.icons {
	height: 70px;
	width: 70px;
}
